html,body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#container{
    width:820px;
    background-color: teal;
    padding: 10px;
}

header{
    display: flex;
    justify-content: center;
}

canvas{
    background-color: white;
    margin-left: 10px;
    margin-bottom: 5px;
    background-image: url("images/shapes.png");
}