html, body{
    margin: o;
    height: 100%;
    display: flex;
    justify-content: center;
    /*background-color: blue;*/
    background-image: url("../Photos/darkness.png")
}
/* # for ID, . for Class, code type for something not defined */

#Main-Container{
    width: 1000px;
    padding: 10px;
    border: 1px solid black;
    background-color: silver;
   
    
}
#header{
    height: 100px;
    background-color:lightseagreen;
    line-height: 100px;
    margin: 0;
    font-family: cursive;
    font-size: larger;
}
#nav-bar{
    display: flex;
    justify-content: center;
    background-color: lightseagreen;
    border-top: 10px solid silver;
}

#content{
    width: 980px;
    padding: 10px;
    background-color: navy;
    border-bottom: 3px solid silver;
    border-top: 10px solid silver;
    color: whitesmoke;

}

img{
    width: 980;
    height: auto;
}

#bio{
    width: 960px;
    padding: 10px;
    background-color: teal;
}

.title{
    background-color: skyblue;
    width: 200px;
    padding: 10px;

}

#hobbies{
    width: 960px;
    padding: 10px;
    background-color: teal;
}

.btn{
    width: 100px;
    height: 40px;
    background-color: royalblue;
    color: white;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 40px;
}

.btn:hover{
    background-color: rgb(204, 95, 204);
}

.ans-btn{
    width: 75px;
    height: 25px;
    background-color: plum;
    color: white;
}

.ans-btn:hover{
    background-color: blue;
}

#footer{
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: lightseagreen;
    border-top: 10px;
    line-height: 30px;
}