html,body{
    display: flex;
    justify-content: center;
    background-color: #026263;
}

nav{
    display: flex;
    justify-content: center;
}

#container{
    border: 3px solid white;
    padding: 7px;
    width: 1018px;
}

canvas{
    border: 3px solid white;
}

a:link,a:visited{
    background-color: #78dcde;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

a:hover{
    background-color: #9fe2e3;
    color: grey;
}